@media(min-width: 400px){
    p {
        font-size: 1.3em;
    }
}

@media(max-width: 300px){
    h1{
        text-align: center;
    }
}

/*En la actividad sugiere modificar la clase container pero esta no existe en el html*/
@media (max-width: 200px) {
    .container{
        width: 90%;
    }
}
@media (min-width: 200px) and (max-width: 400px){
    .container{
        width: 80%;
    }
}
@media (min-width: 400px){
    .container{
        width: 390px;
    }
}

@media screen{
    .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media not print{
    body {
        background-color: #ddccaa;
    }
}

@media (monochrome) {
    #wikipedia-logo {
        display: none;
    }
}

@media (hover: hover) {
    blockquote:hover {
      background-color: #ccddaa;
    }
}

@media (device-aspect-ratio: 1/1){
    figure {
        width: 80%;
        margin: 5px auto;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 10px;
    }
}

/*Si el dispositivo no supera los 600px de ancho o es a color y los supera {}*/
@media not (max-width: 600px), (color) and (min-width:600px){
    a {
        color: #ffffff;
    }
}